@mixin mq($type) {
   $mobile: 320px;
   $tablet: 768px;
   $desktop: 1200px;
 
   @if $type == 'small-mobile' {
     @media screen and (max-width: #{$mobile - 0.02}) {
       @content;
     }
   }
 
   @if $type == 'mobile-only' {
     @media screen and (max-width: #{$tablet - 0.02}) {
       @content;
     }
   }
   @if $type == 'mobile' {
     @media screen and (min-width: $mobile) {
       @content;
     }
   }
   @if $type == 'tablet-only' {
     @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
       @content;
     }
   }
   @if $type == 'tablet' {
     @media screen and (min-width: $tablet) {
       @content;
     }
   }
   @if $type == 'not-desktop' {
     @media screen and (max-width: #{$desktop - 0.02}) {
       @content;
     }
   }
   @if $type == 'desktop' {
     @media screen and (min-width: $desktop) {
       @content;
     }
   }
 
   @if $type == 'retina2x' {
     @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
       @content;
     }
   }
 
   @if $type == 'retina3x' {
     @media (min-device-pixel-ratio: 3),
       (min-resolution: 288dpi),
       (min-resolution: 3dppx) {
       @content;
     }
   }
 }
 
 @mixin products-thumb($width-img, $height-img, $color, $image) {
   display: flex;
   flex-direction: column;
 
   padding: 140px 0 40px 0;
   border-radius: 24px;
 
   justify-content: center;
   align-items: center;
   background-color: $color;
 
   &::before {
     content: '';
     position: absolute;
     top: 0;
 
     height: $height-img;
     width: $width-img;
 
     background-size: contain;
     background-repeat: no-repeat;
     background-image: $image;
   }
 }