:root {
   //    colors
   --color-white: #fff;
   --color-text-accent: #000000;
   --color-text-paragraph: #907E82;
   --color-text-title: #D41443;
   --color-text-lable: #FFA5BA;

   --color-bg-burger-menu: #E17992;
   --color-bg-main: #FFB8CA;
   --color-bg-light: #FFF5F6;

   --color-btn-active: #D41342;
   --color-coffee-style: #F0D1A5;
   --color-food-style: #C2E297;
   --color-social-icon: #FEA5BB;


}
