.about {
    background-color: #fff5f6;
   
    max-width: 100%;
    // overflow: visible;
    text-align: center;
    justify-content: center;
    align-items: center;
    // background-image: url(../images/about/back-milk.png);
    
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     background-position: 0 598px;
    
    @media screen and (min-width: 321px) {
    background-image: url(../images/about/back-milk.png);
    
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 598px;}
}

.about__container {
    max-width: 1200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    // padding-left: 20px;
    // padding-right: 20px;
    background-color: #FFF5F6;
    @media screen and (min-width: 320px) {
            width: 320px;}

            @media screen and (max-width: 320px) {
            background-image: url(../images/about/back-milk.png);
            
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 0 548px;
    }

        // @media screen and (min-width: 768px) {
        //     width: 768px;
        // }
}
.about__label {
    font-family: 'Titan One';
    
    font-size: 18px;
    line-height: 1.667;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFA5BA;
    margin-bottom: 15px;
}

.about__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #D41443;
    
    margin-bottom: 32px;
}

.about__description {
    // position: relative;
    padding-top: 40px;
    padding-bottom: 60px;
    // max-width: 320px;
    max-width: 220px;
}
.about__text-bold {
//    margin-top: 40px;
    margin-bottom: 30px;
    // font-family: 'DM Sans';
    // font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    text-align: left;
    color: #000000;
}

.about__text {
    // font-family: 'DM Sans';
    // font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    text-align: left;
    color: #907E82;
    // margin-bottom: 10px;
   
}
// .about__button {
//     background-color: #FFFFFF;
// }

// .about__button {
// }
.about__btn {
    text-align: left;
    
    border-radius: 24px;
    width: 176px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: none;
    cursor: pointer;
//     padding-top: 17px;
// 
    margin: 0;

  
        color: var(--color-text-title);
        background-color: var(--color-white);
       
        justify-content: center;
        align-items: center;
        transition: box-shadow .25s cubic-bezier(.4, 0, .2, 1);
        display: flex;
    
}
.about__btn:hover, .about__btn:focus {

    box-shadow: 0 8px 30px #51061966;
}

.about_icon {
fill: #D41443;
margin-left: 20px;
}

.about__button-text {
    font-family: 'DM Sans';
    // font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    // display: flex;
    // align-items: center;
    text-align: center;

    color: #D41443;
    // background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}