.advantages {
    background-color: #FFF5F6;
}

.advantages__item {
    max-width: 230px;
    &:not(:last-child) {margin-bottom: 32px;}
}

.advantages__amount {
    font-family: 'Titan One';
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    display: inline-block;
    margin-bottom: 18px;
}

.kg {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    display: inline-block;
    margin-bottom: 18px;
    margin-left: -7px;
    padding-left: 0;
    text-align: left;
}

.advantages__description {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    color: #000000;
    display: block;
}

.advantages__amount--milk::before {
    background-image: url("../images/advantages-icons/milk.png");
    content: " ";
    height: 50px;
    width: 33px;

    display: block;
    margin-bottom: 16px;

    animation: changeColor 4000ms linear infinite;
}

.advantages__amount--apples::before {
    background-image: url("../images/advantages-icons/apples.png");
    content: " ";
    height: 50px;
    width: 50px;

    display: block;
    margin-bottom: 16px;

    animation: changeColor 4000ms linear infinite;
}

.advantages__amount--heart::before {
    background-image: url("../images/advantages-icons/heart.png");
    content: " ";
    height: 50px;
    width: 46px;

    display: block;
    margin-bottom: 16px;

    animation: changeColor 4000ms linear infinite;
}