.contacts {
  background-color: var(--color-bg-light);
}
.contact__title {
  visibility: hidden;
}

.contact__category--green,
.contact__category--brown {
  display: flex;
  width: 80px;
  height: 16px;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: var(--color-coffee-style);
  border-radius: 6px;
}

.contact__box:not(:last-child) {
  margin-bottom: 8px;
}

.contact__category--green {
  width: 130px;
  background-color: var(--color-food-style);
}

.contact__category--text {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.contact__list {
  display: grid;
  gap: 20px;
}

.contact__item {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding: 40px 32px 40px 32px;
  background-color: var(--color-white);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.contact__location,
.contact__sheddle {
  border-bottom: solid 1px #e1e1e1;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact__location {
  padding-top: 20px;
}

.contact__data {
  padding-top: 24px;
}

.contact__bolt,
.contact__sheddle--day {
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: var(--color-text-accent);
}

.contact__regular,
.contact__sheddle--time {
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: var(--color-text-lable);
}

.contact__regular {
  color: var(--color-text-paragraph);
}

.contact__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: var(--color-text-paragraph);
}

.contact__link:hover {
  color: var(--color-text-lable);
}

.contact__button__list {
  list-style: none;
  padding: 0;
  margin-top: 32px;
}

.contact__button {
  width: 162px;
  margin-left: auto;
  margin-right: auto;
}

.button__item:not(:last-child) {
  margin-bottom: 10px;
}

.contact__button {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  color: var(--color-text-title);
  background-color: var(--color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__button:hover {
  box-shadow: 0px 8px 30px rgba(81, 6, 25, 0.4);
}

.current {
  color: var(--color-white);
  background-color: var(--color-text-title);
}

.contact__button--text {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
}

.contact__button--icon {
  margin-left: 15px;
}

.button__link {
  text-decoration: none;
}