
.header {
        display: flex;
        justify-content: center;
}

.container--flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
 top: 0;
  z-index: 500;
  background-color:#ffb8caf2;
  border-radius: 7px;
  max-width: 320px;
  padding-top: 8px;
}

.logo { 
  padding: 1px;
  animation:jello-horizontal 12s infinite alternate-reverse;
}
.button-menu {
  background-color: transparent;
  border:none;
  cursor: pointer;
  transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
transform: scale(0.7);
transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}