.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
z-index: 1000;

  background-color: rgba($color: #000000, $alpha: 0.4);
  
  &.is-hidden {
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
  }
}

.modal_container {
  width: 100%;
}

.modal__window {
  top: 50%;
  transform: translatey(-50%);
  position: absolute;
  border-radius: 22px;
  background-color: var(--color-text-lable);
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hero/ice-cream-cone@2x_mobile.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 10px, 40px;

  @include mq (mobille-only) {
    min-width: 320px;
    // max-width: 550px;
    width: 100vw;
  }

  @media screen and (min-width: 650px) {
    width: 50vw;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  fill: var(--color-white);
  background-color: var(--color-text-lable);
}

.form-title {
  padding: 40px 40px 12px 40px;
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center; //right
  letter-spacing: 0.005em;
  color: rgb(148, 56, 148);
  margin-bottom: 10px;
}

.role-groupe {
  width: auto;
  left: 40px;
  top: 112px;
  padding-left: 110px;//180
  padding-right: 10px;
  margin-bottom: 30px;
}

.data-box {
  margin-bottom: 10px;
  height: 58px;
  width: 95%;
  position: relative;
}

.data-box input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0px;
  margin-top: 4px;
  padding-left: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback {
  width: 95%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;

  &::placeholder {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: rgb(148, 56, 148);
  }
}

.data-box input:hover,
.feedback:hover,
.data-box input:focus,
.feedback:focus {
  border-color: var(--color-btn-active);
}

.client-data,
.data-field {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgb(148, 56, 148);

}
.client-data {
  position: absolute;
  top:17px;
  left:15px;
  transform: translate(-17%, -15%);
}

.data-field:focus + .client-data,
.data-field:not(:placeholder-shown) + .client-data {
transform: translate(-16px, -31px);
}

.client-data--texteria {
    font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgb(148, 56, 148);
}

.button-sub {
  display: block;
  width: 120px;
  height: 44px;
  border-radius: 24px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-btn-active);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-sub__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-white);
}

 .button-sub:hover{
  box-shadow: 0px 8px 30px rgba(81, 6, 25, 0.6);
}

.modal_button {
  padding-bottom: 20px;
}

.agreement {
 margin-top: 10px;
 color:  rgb(148, 56, 148);;


&__row {
  display: flex;
}

&__checkbox {
  margin-top: 4px;
  margin-right: 4px;
}
}