// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: 1000;

//   background-color: rgba($color: #000000, $alpha: 0.4);

//   &.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//   }
// }

.modal_container {
  width: 100%;
}

.modal__window {
  top: 50%;
  transform: translatey(-50%);
  position: absolute;
  border-radius: 22px;
  background-color: var(--color-text-lable);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  max-height: 100%;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  fill: var(--color-white);
  background-color: var(--color-text-lable);
}
