.products {
  background-color: var(--color-white);

  &__labels {
    margin-bottom: 15px;

    font-family: 'Titan One';

    font-size: 18px;
    line-height: 1.17;

    text-align: center;
    text-transform: uppercase;

    color: var(--color-text-lable);
  }

  &__title {
    margin-bottom: 8px;

    font-family: 'Titan One';

    font-size: 34px;
    line-height: 1.15;

    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;

    color: var(--color-text-title);
  }

  &__item {
    position: relative;
    padding-top: 140px;
  }

  &__thumb {
    @include products-thumb(
      280px,
      280px,
      var(--color-bg-main),
      url('/src/images/products/ice_sm.png')
    );
  }

  &__thumb-1 {
    @include products-thumb(
      280px,
      280px,
      var(--color-coffee-style),
      url('/src/images/products/ice-1_sm.png')
    );
  }

  &__thumb-2 {
    @include products-thumb(
      280px,
      280px,
      var(--color-food-style),
      url('/src/images/products/ice-2_sm.png')
    );
  }

  &__subtitle {
    display: flex;
    flex-direction: column;

    margin-top: 20px;

    font-family: 'Titan One';

    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    text-align: center;

    color: var(--color-white);

    &::after {
      content: '';
      width: 26px;
      height: 6px;
      margin: 32px auto;
      background-image: url('../images/products/3x-balls.svg');
    }
  }

  &__text {
    padding-left: 41px;
    padding-right: 39px;
    margin-bottom: 32px;

    font-family: 'DM Sans';

    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    letter-spacing: 0.04em;

    text-align: center;

    color: var(--color-white);
  }

  &__btn {
    display: block;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;
    // &:hover {
    //   box-shadow: 0 8px 30px #51061966;
    // }
    // ------------- hover/focus alternative
    &:hover,
    &:focus {
      animation: pulse 1s;
      box-shadow: 0 0 0 2em rgba(#fff, 0);
      background-color: transparent;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 var(--color-btn-active);
      }
      // ------------- hover/focus end
    }
  }

  &__icon {
    position: relative;
    top: 2px;
    transform: translateX(-2%);

    fill: var(--color-btn-active);
    border-radius: 50%;
    // ------------- hover/focus  alternative
    // &:hover,
    // &:focus {
    //   fill: rgb(163, 183, 17);
    // }

    // --------- hover/focus end
  }
}
