<section class="about section" id="about">
  <div class="about__container container">
    
<p class="about__label">
tradition and love
</з>
<h2 class="about__title">
how it's made?
</h2>

<img src="./images/about/milk.png" alt="">
<div class="about__description">
    <div class="about__info">
    
        <h3 class="about__text-bold">
  Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
</h3>
<!-- <div class="back-milk">.</div> -->
<p class="about__text">
            <!-- <img class=".back-milk" src="./images/about/back-milk.png" alt=""> -->
  Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</p>
<p class="about__text">
Aliquam erat volutpat. Aenean accumsan.
</p></div>

    <!-- <div class="about__paragraph">
</div>
  <div class="about__paragraph"></div> contact__button-->
</div>
<div class="about__button">
<button class="about__btn btn " type="button">
  <span class="about__button-text">Read more</span>
  <svg class="about_icon" width="10" height="10">
    <use href="./images/symbol-defs.svg#icon-Vector-2">
    </use>
  </svg>
</button>
</div>

</div>
</section>

