<section class="advantages" id="our-products">
    <div class="container advantages-container">
        <h2 class="section-title visually-hidden">Переваги</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <p class="advantages__text">
                    <span data-digits-counter class="advantages__amount advantages__amount--milk" id="milk">721</span>
                    <span class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__text">
                    <span data-digits-counter class="advantages__amount advantages__amount--apples" id="apples">16</span>
                    <span class="kg">kg</span>
                    <span class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
                </p>
            </li>
            <li class="advantages__item">
               <p class="advantages__text">
                    <span data-digits-counter class="advantages__amount advantages__amount--heart" id="heart">84</span>
                    <span class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
               </p>
            </li>
        </ul>   
    </div>
</section>