<section class="advantages" id="our-products">
    <div class="container advantages-container">
        <h2 class="section-title visually-hidden">Переваги</h2>
        <div class="advantages__thumb" tabindex="1">
            <p data-digits-counter class="advantages__amount advantages__amount--milk" id="milk">721</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantages__thumb" tabindex="1">
            <p data-digits-counter class="advantages__amount advantages__amount--apples" id="apples">16</p>
            <p class="kg">kg</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantages__thumb" tabindex="1">
            <p data-digits-counter class="advantages__amount advantages__amount--heart" id="heart">84</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
    </div>
</section>