<section class="contacts section">
    <div class="container" id="contact">
        <h2 class="contact__title">Contacts</h2>
        <div class="contact__list">
            <ul class="contact__item">
                <p class="contact__category--brown">CAFE</p>
                <li class="contact__location">
                    <p class="contact__bolt">Chicago</p>
                    <p class="contact__regular">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                </li>
                <li>
                    <ul class="contact__sheddle">
                        <li class="contact__box">
                            <p class="contact__sheddle--day">Monday - Friday</p>
                            <p class="contact__sheddle--time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__box">
                            <p class="contact__sheddle--day">Saturday - Sunday</p>
                            <p class="contact__sheddle--time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="contact__data">
                        <li>
                            <a class="contact__link" href="tel:+610383766284">+61(0) 383 766 284</a><br />
                        </li>
                        <li>
                            <a class="contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="contact__item">
                <li class="contact__category--green">
                    <p class="contact__category--text">FOODTRUCK</p>
                </li>
                <li class="contact__location">
                    <p class="contact__bolt">Los Angeles</p>
                    <p class="contact__regular">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                </li>
                <li>
                    <ul class="contact__sheddle">
                        <li class="contact__box">
                            <p class="contact__sheddle--day">Monday - Friday</p>
                            <p class="contact__sheddle--time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__box">
                            <p class="contact__sheddle--day">Saturday - Sunday</p>
                            <p class="contact__sheddle--time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="contact__data">
                        <li>
                            <a class="contact__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="contact__item">
                <p class="contact__category--brown">CAFE</p>
                <li class="contact__location">
                    <p class="contact__bolt">Chicago</p>
                    <p class="contact__regular">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                </li>
                <li>
                    <ul class="contact__sheddle">
                        <li class="contact__box">
                            <p class="contact__sheddle--day">Monday - Friday</p>
                            <p class="contact__sheddle--time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__box">
                            <p class="contact__sheddle--day">Saturday - Sunday</p>
                            <p class="contact__sheddle--time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="contact__data">
                        <li>
                            <a class="contact__link" href="tel:+610383766284">+61(0) 383 766 284</a><br />
                        </li>
                        <li>
                            <a class="contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="contact__button__list">
            <li class="button__item">
                <button class="contact__button current" target="_blank" type="button"
                    onclick="window.location.href ='https://www.google.com/maps/@40.5555098,-74.2344892,12.46z';">
                    <span class="contact__button--text">Our Locations</span>
                    <svg class="contact__button--icon" width="8" height="10">
                        <use href="images/symbol-defs.svg#icon-Vector-1"></use>
                    </svg>
                </button>
            </li>
            <li class="button__item">
                <button type="button" class="contact__button btn">
                    <span class="contact__button--text">Franchise</span>
                    <svg class="contact__button--icon" width="8px" height="10px">
                        <use href="images/symbol-defs.svg#icon-Vector-2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>