<!--customers reviews-->
<section class="customers-reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title visually-hidden" id="customer-reviews">
      Customer reviews
    </h2>
    <div class="reviews__slider">
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="first customer-reviews">
        <img
          class="reviews__image"
          srcset="
            images/customers/1customer.jpg    1x,
            images/customers/1customer@2x.jpg 2x
          "
          src="images/customers/1customer.jpg"
          alt="First customer photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            Best ice cream around. They have the most cookie dough bits in there
            ice cream than anywhere around. They also have both regular and non
            dairy ice cream both hard and soft. Their staff is really friendly
            and they are always fast. This place is seriously the best!
          </p>
        </div>
        <span class="reviews__label">Emily, Los Angeles</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="second customer-reviews">
        <img
          class="reviews__image"
          srcset="
            images/customers/2customer.jpg    1x,
            images/customers/2customer@2x.jpg 2x
          "
          src="images/customers/2customer.jpg"
          alt="Second customer photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            “Best Ice Cream Ever!!!” Huge selection of ice cream flavors that is
            amazing!!! They have a huge menu of yummy options such as sundaes,
            ice cream sodas, milk shakes & scrumptious options! Their strawberry
            & hot fudge banana splits are out of this world!”
          </p>
        </div>
        <span class="reviews__label">Leslie, Chicago</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="third customer-reviews">
        <img
          class="reviews__image"
          srcset="
            images/customers/3customer.jpg    1x,
            images/customers/3customer@2x.jpg 2x
          "
          srcset="
            images/customers/3customer.jpg    1x,
            images/customers/3customer_2x.jpg 2x
          "
          src="images/customers/3customer.jpg"
          alt="Third customer photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            Terrific ice cream, great texture: not too thick, not too thin,
            flavors are clear and clean and not too sweet, but sweet enough.
            Favorites: chocolate chocolate chip, grape nut, cherry chocolate
            chip, blueberry, and chocomint. I have tried ice cream all over the
            cape and this is hands down the best!!!!!
          </p>
        </div>
        <span class="reviews__label">Monica, New York</span>
      </article>
  </div>
</section>
