<header class="header" id="header">
  <div class="container container--flex">
    <nav class="navigation">
      <a href="/src/index.html">
        <svg class="logo" width="199" height="50">
          <use href="/src/images/symbol-defs.svg#logo"></use>
        </svg>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">Home</li>
        <li class="navigation__item">About us</li>
        <li class="navigation__item">How it’s made?</li>
        <li class="navigation__item">Our products</li>
        <li class="navigation__item">Contact</li>
      </ul>
    </nav>
    <div class="mobile-menu">
      <button type="button" class="button-menu js-open-menu" aria-expanded="false" aria-controls="menu-container">
        <svg width="20" height="12">
          <use class="icon-cross" href="/src/images/symbol-defs.svg#burger"></use>
        </svg>
      </button>
      <button data-modal-open class="button-buy--tablet" type="button">
        <span class="button-buy__text">Buy now</span>
        <svg class="button-buy__icon" width="8" height="10">
          <use class="vector-red" href="/src/images/symbol-defs.svg#icon-Vector-2"></use>
        </svg>
      </button>
    </div>
  </div>
</header>