<header class="header">
  <div class="container container--flex">
    <nav class="navigation">
      <a href="/src/index.html">
        <svg class="logo" width="199" height="50">
          <use href="/src/images/symbol-defs.svg#logo"></use>
        </svg>
      </a>
    </nav>
    <div class="mobile-menu">
      <button type="button" class="button-menu js-open-menu" aria-expanded="false" aria-controls="menu-container">
        <svg width="20" height="12">
          <use class="icon-cross" href="/src/images/symbol-defs.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>