<header class="header" id="header">
  <div class="container container--flex">
    <nav class="navigation">
      <a href="/src/index.html">
        <svg class="logo" width="199" height="50">
          <use href="/src/images/symbol-defs.svg#logo"></use>
        </svg>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item"><a class="navigation__link" href="#header">Home</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#our-products">About us</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#about">How it’s made?</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#products">Our products</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#contact">Contact</a></li>
      </ul>
      <button data-modal-mob-open class="button-buy--leptop" type="button">
        <span class="button-buy__text">Buy now</span>
        <svg class="button-buy__icon" width="8" height="10">
          <use class="vector-red" href="/src/images/symbol-defs.svg#icon-Vector-2"></use>
        </svg>
      </button>
    </nav>
    <div class="mobile-menu">
      <button type="button" class="button-menu js-open-menu" aria-expanded="false" aria-controls="menu-container">
        <svg width="20" height="12">
          <use class="icon-cross" href="/src/images/symbol-defs.svg#burger"></use>
        </svg>
      </button>
      <button data-modal-open class="button-buy--tablet" type="button">
        <span class="button-buy__text">Buy now</span>
        <svg class="button-buy__icon" width="8" height="10">
          <use class="vector-red" href="/src/images/symbol-defs.svg#icon-Vector-2"></use>
        </svg>
      </button>
    </div>
  </div>
</header>