<div class="backdrop is-hidden" data-modal-success>
   <section class="success-modal">
     <button data-modal-success-close class="round-button btn" type="button">
       <svg width="25" height="25">
         <use class="round-button_icon" href="./images/symbol-defs.svg#close"></use>
       </svg>
     </button>
     <div>
       <h2 class="success-modal__title">Thank you for your delicious choice</h2>
       <img class="success-modal__img" src="images/icecream-success640.png" alt="">
       <p class="success-modal__subtitle">We will contact you soon</p>
     </div>
     <div class="success-modal__button">
       <button data-modal-success-close-1 class="button-sub" type="submit">
         <p class="button-sub__text">Send</p>
       </button>
 
 
   </section>
 </div>